.base{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:#161616 ;
    height: 100vh;
    margin-left: 0;
    min-width: 360px;
}

.about{
    color: white;
    font-size:xx-large;
    margin-left: 123px;
    

}

.contatto{
    margin-left: 123px;
    
}

p{   
    margin: 0;
    padding: 16px;  
}
p:hover{
    color:red;
}

h2{
    color: blue;
}